.f {
  &-family {
    &_manrope {
      font-family: Manrope;
    }

  }

  &-weight {

    &_400 {
      font-weight: 400;
    }

    &_500 {
      font-weight: 500;
    }

    &_600 {
      font-weight: 600;
    }

    &_700 {
      font-weight: 700;
    }

    &_800 {
      font-weight: 800;
    }

  }

  &-size {
    &_18-20 {
      font-size: var(--body-size-2);
      line-height: var(--body-line-height-2o);
    }
  }

}