.text {
  &-uppercase {
    text-transform: uppercase;
  }
  &-normal{
    text-transform: none!important;
  }

  &-center {
    text-align: center;
  }

  &-right {
    text-align: right;
  }

  &-color {
    &_white {
      color: $white;
    }

    &_accent {
      color: $accent;
    }
    &_gray{
       color: $gray-700;
      &-600{
        color: #D9D7F3;
      }
    }
    &_main{
      color: $gray-900;
    }
    &_gradient{

      background: $gradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &-size {
    &__16 {
      font-size: gem(16);
      line-height: gem(18.75);
    }

    &__14 {
      font-size: gem(14);
      line-height: gem(16);
    }

    &__18 {
      font-size: gem(18);
      line-height: gem(22);
    }
  }


}