.applications-page{
.main-screen{
&::before{
  width: gem(896);
  height: gem(189);
  height: 100%;
  bottom: var(--section-padding);
  left: var(--container-gap);
  right:  var(--container-gap);
  content: '';
  position: absolute;
  background: url('@img/web_hero.png') no-repeat left bottom  / contain;
  transform: translate(gem(50), gem(-25));
  @media all and (max-width: 992px){
  content: none;
  }
}
  @media all and (max-width: 576px){
    padding-top: gem(48);
    align-items: flex-start;
    .col-lg-7{
      margin-bottom: gem(32);
    }
  }
}
  .examples{
   &__row{
     margin-bottom: gem(72);
     display: grid;
     grid-template-columns: gem(570) 1fr;
     @media all and (max-width: 992px){
     grid-template-columns: 1fr;
       margin-bottom: gem(64);
     }
     gap: gem(24) gem(88);
     .image{
       height: gem(570);
       grid-row: 1 / 3;
       border: 1px solid #35355B;
       @media all and (max-width: 992px){
       grid-row: 2/3;
       }
       @media all and (max-width: 576px){
         width: gem(251);
         height: gem(251);
         margin: 0 auto;
       }
     }
     h2{
       align-self: flex-end;
       @media all and (max-width: 992px){
       grid-row: 1/2;
       }
       +div{
         align-self: flex-start;
         p{
           +p{
             margin-top: gem(16);
           }
         }
       }
     }

     &.reverse{
       grid-template-columns: 1fr gem(570) ;
       .image{
         grid-column: 2/3;
       }
       @media all and (max-width: 992px){
         grid-template-columns: 1fr;
         .image{
           grid-column: 1 / 2;
         }
       }
     }
   }
    &__image{
      padding-top: gem(56);
      padding-bottom: gem(56);
      margin-bottom: gem(72);
      position: relative;
      overflow: hidden;
      @media all and (max-width: 576px){
        padding: gem(48) gem(28);
      }
      .content{
        p{
          +p{
            margin-top: gem(16);
          }
        }
      }
      .image{
        width: gem(175);
        height: gem(189);
        margin-bottom: gem(48);
        @media all and (max-width: 576px){
          width: gem(148);
          height: gem(160);
          margin-bottom: gem(32);
        }
      }
      .circle{
        background: linear-gradient(51.9deg, #797BFF 9.66%, #FDF0FF 103.24%);
        box-shadow: 3px 2px 20px rgba(135, 107, 229, 0.7);
        &:first-child{
          width: gem(288);
          height: gem(288);
          top: gem(101);
          left: gem(-81);
          @media all and (max-width: 992px){
            width: gem(188);
            height: gem(188);
          }
        }
        &:nth-child(2){
          width: gem(52);
          height: gem(52);
          top: gem(48);
          right: 16%;
        }
        &:nth-child(3){
          width: gem(221);
          height: gem(221);
          right: gem(-70);
          top: gem(-50);
          @media all and (max-width: 992px){
            width: gem(120);
            height: gem(120);
          }
        }
        @media all and (max-width: 576px){
          display: none;
        }
      }
    }
  }
}