.audit {
  .shadow {
    width: 56.7%;
    height: gem(826);
    left: 0;
    z-index: -2;
    @media all and (max-width: 992px) {
      width: 50%;
      height: 50%;
      bottom: gem(40);
      left: gem(-40);
    }
    @media all and (max-width: 576px) {
      height: gem(277);
      width: gem(277);
      left: 50%;
      transform: translateX(-50%);

      bottom: 0;
    }
  }

  .image {
    height: gem(517);
    @media all and (max-width: 992px) {
      height: gem(397);
    }
    @media all and (max-width: 576px) {
      height: gem(277);
    }
  }

  &-form {
    height: 100%;
    margin-top: gem(40);
  }

  h2 {
    @media all and (max-width: 576px) {
      text-align: center;
    }
  }

  .col-md-5 {
    @media all and (max-width: 576px) {
      position: relative;
    }
  }
}