.card {


  padding: gem(40);
  position: relative;
  background: linear-gradient($gray-900, $gray-900) padding-box,
  $gradient border-box;
  border: 1px solid transparent;
  border-radius: gem(24);

  + .card {
    margin-top: gem(16);
  }

  &::before {
    //Розкоментувати для прозорого фону
    //content: "";
    position: absolute;
    inset: 0;
    border-radius: gem(24);
    padding: gem(1);
    background: $gradient;
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }

  @media all and (max-width: 992px) {
    padding: gem(32);
  }
  @media all and (max-width: 576px) {
    padding: gem(24);
  }
}