.cost {
  color: $white;

  &__subtitle {
    @media all and (max-width: 576px) {
      text-align: center;
      color: #8B89B0;
    }
  }

  h2 {
    @media all and (max-width: 576px) {
      text-align: center;
    }
  }

  &__items {
    padding-bottom: gem(80);
    position: relative;
    min-height: gem(590);

    .circle {
      width: gem(570);
      height: gem(561);
      box-shadow: gem(2.4) gem(1.6) gem(16) rgba(135, 107, 229, 0.7);
      right: 0;
      top: gem(-128);
      z-index: -1;
      @media all and (max-width: 992px) {
        width: gem(350);
        height: gem(341);
      }
    }

    .image {
      width: gem(310);
      height: gem(615);
      position: absolute;
      top: gem(-98);
    }

    .shadow {
      width: gem(1100);
      height: gem(1100);
      bottom: gem(-105);
      right: var(--container-gap-decrement);
      transform: translateX(gem(115));
      z-index: -2;
      @media all and (max-width: 992px) {
        top: gem(-128);
        bottom: auto;
        width: 100%;
        height: 100%;
      }
      @media all and (max-width: 576px) {
        top: 0;
        right: 50%;
        transform: translateX(50%);
      }
    }

    @media all and (max-width: 576px) {
      padding-bottom: gem(40);
      flex-direction: column-reverse;
      .col-lg-6 {
        height: gem(250);
        margin-bottom: gem(32);
        position: relative;

        .circle {
          width: gem(215);
          height: gem(210);
          top: 0;
          right: 50%;
          transform: translateX(50%);
        }

        .image {
          height: gem(245);
          width: 100%;
          top: 0;
        }
      }
    }
  }

  .see-more {
    .btn {
      width: auto;
    }

    @media all and (max-width: 576px) {
      .col-md-2 {
        display: none;
      }
      &__btn {
        display: flex;
        justify-content: flex-end;
      }
      .row{
        padding-top: gem(16);
        padding-bottom: gem(16);
      }
    }
  }
}