:root {
  --cell-width: #{gem(24)};
  //@media all and (max-width: 992px) {
  //  --cell-width: #{gem(44)};
  //}
  //@media all and (max-width: 576px) {
  //  --cell-width: #{gem(40)};
  //}
}

.flatpickr {
  &-wrapper {
    display: flex;
  }

  &-calendar {
    &.static {
      top: calc(100% + 0.16rem);
    }

    display: block;
    width: 100%;
    background: transparent;
    border: none;
    box-shadow: gem(8) gem(3) gem(22) gem(10) rgba(0, 0, 0, 0.13);
    border-radius: gem(16);
    padding: gem(24);
    color: $white;
    background: $gradient;
    font-size: var(--body-size-xs);
    line-height: var(--body-line-xs);
    @media all and (max-width: 576px) {
      padding: gem(14);
    }


    &::before, &::after {
      content: none;
    }

    span.flatpickr-weekday {
      color: $white;
      font-size: gem(10);
      line-height: gem(12);
      font-weight: 500;
    }


  }

  &-months {
    display: block;
    position: relative;

    .flatpickr-month {
      font-size: gem(14);
      line-height: gem(17);
      color: $white;
      width: 100%;
      height: 0.37rem;
      margin: 0;
      width: 100%;
      left: 0;
      padding: 0;
      display: flex;
      position: relative;

      &::after {
        width: 100%;
        height: 100%;
        bottom: 0;
        left: 0;
        content: '';
        position: absolute;
        border: 0.8px solid #7C6FE6;
        z-index: -1;
      }

      .flatpickr-current-month {
        letter-spacing: 0.01em;
        margin: 0;
        width: 100%;
        left: 0;
        padding: 0;
        height: auto;
        display: flex;
        font-size: gem(14);
        line-height: gem(17);
      }

      .flatpickr-monthDropdown-months {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background: transparent;
        font-weight: 400;
        width: auto;
        margin: 0;
        padding: 0;
        font-size: gem(14);
        line-height: gem(17);
      }

      input {
        font-weight: 400;
      }

      .numInputWrapper {
        font-size: gem(14);
        line-height: gem(17);
        width: auto;
        pointer-events: none;
        cursor: default;
        font-weight: 400;

        span {
          display: none;
        }

        &:hover {
          background: transparent;
        }

      }


    }

    .flatpickr-next-month, .flatpickr-prev-month {
      height: auto;
      padding: 0;
      top: gem(2.5);
      font-size: gem(14);
      line-height: gem(14);
      padding: 0;
      //transform: translateY(-50%);

      svg {
        fill: $white;
        width: gem(10);
        height: gem(14);
      }

      &:hover {
        svg {
          fill: $white;
        }
      }
    }

    .flatpickr-next-month {
      right: 0;
    }

    .flatpickr-prev-month {
      left: auto !important;
      right: 0.45rem;
    }
  }

  &-rContainer {
    display: flex;
    flex-direction: column;
    padding-top: gem(20);
  }

  &-innerContainer {
    display: block;
  }

  &-weekdays {
    height: auto;
    margin-bottom: gem(20);
  }

  &-weekdaycontainer {
    display: grid;
    grid-template-columns: repeat(7, var(--cell-width));
    justify-items: center;
    gap: 0 0.42rem;
    @media all and (max-width: 576px) {
      gap: 0 0.2rem;
    }
  }


  //
  //&-input {
  //  visibility: hidden;
  //}

  &-days {
    width: 100%;
    height: 100%;
    overflow: hidden;
    max-height: calc(5 * var(--cell-width) + 0.64rem);

    .dayContainer {
      display: grid;
      grid-template-columns: repeat(7, 0.24rem);
      gap: 0.16rem 0.42rem;
      justify-items: center;
      width: 100%;
      max-width: 100%;
      @media all and (max-width: 576px) {
        gap: 0.16rem 0.2rem;
      }
    }
  }


  &-day {
    width: var(--cell-width);
    height: var(--cell-width);
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    position: relative;
    background: none;
    transition: all .35s linear;
    font-weight: 500;
    font-size: gem(14);
    line-height: gem(17);
    color: $white;
    max-width: 100%;
    border: none;
    transition: all .35s linear;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: rgba($gray-800, .6);
    }

    &.selected {

      background: none !important;
      //border-radius: 50%;
      //border: none;

      &::before {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        content: '';
        position: absolute;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.2);
      }

      &:hover {
        background: $gradient;
      }
    }

    &.prevMonthDay, &.nextMonthDay {
      color: rgba($gray-800, .7);
      opacity: 0;

      &:hover {
        border: none;
        background-color: rgba($gray-800, .6);
      }
    }
  }


}