section {
  position: relative;
  z-index: 1;

}

.section {
  padding: var(--section-padding) 0;

  &__title {
    margin-bottom: gem(24);

    &_adaptive {
      .row {
        .text-center {
          @media all and (max-width: 576px) {
            text-align: left;
          }
        }
      }
    }
  }

  &__benefits {
    h2 {
      margin-bottom: gem(56);
      @media all and (max-width: 992px) {
        margin-bottom: gem(32);
      }
    }


  }

  &__cases {
    .row.--just-center.mb_l {
      @media all and (max-width: 992px) {
        display: none;
      }

    }
  }
  &__audit {
    z-index: 2;
    .image{
      width: 100%;
      max-width: gem(470);
      img{
        object-position: center;
        @media all and (max-width: 992px){
          object-position: center top;
        }
      }
      @media all and (max-width: 576px){
        height: gem(277);
      }
    }
    .form {
      max-width: 4.7rem;
      width: 100%;
      @media all and (max-width: 992px){
        padding-right: gem(32);
      }
      @media all and (max-width: 576px){
        padding-right: 0;
      }
    }

    .col-md-7 {

      @media all and (max-width: 576px) {
        justify-content: center;
        margin-top: gem(32);
      }
    }

    .row {
      + .row {
        @media all and (max-width: 576px) {
          flex-direction: column-reverse;
          padding-top: gem(8);
        }
      }
    }
  }
  &__blog-page{
    //padding-top: gem(100);
  }


}
