section {
  position: relative;
  z-index: 1;

}

.section {
  padding: var(--section-padding) 0;

  &__title {
    margin-bottom: gem(24);

    &_adaptive {
      .row {
        .text-center {
          @media all and (max-width: 576px) {
            text-align: left;
          }
        }
      }
    }
  }

  &__benefits {
    h2 {
      margin-bottom: gem(56);
      @media all and (max-width: 992px) {
        margin-bottom: gem(32);
      }
    }


  }

  &__cases {
    .row.--just-center.mb_l {
      @media all and (max-width: 992px) {
        display: none;
      }

    }
  }
  &__audit {
    z-index: 2;

    .form {
      max-width: 4.7rem;
      width: 100%;
    }

    .col-md-7 {
      @media all and (max-width: 992px) {
        justify-content: flex-end;
      }
      @media all and (max-width: 576px) {
        justify-content: center;
        margin-bottom: gem(32);
      }
    }

    .row {
      + .row {
        @media all and (max-width: 576px) {
          flex-direction: column-reverse;
          padding-top: gem(8);
        }
      }
    }
  }


}
